body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
}

#section {
  width: 70vh;
  height: 40vh;
  background-color: #c4ebf9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.header {
  text-align: center;
  padding: 0.5rem;
  height: 10%;
  background-color: #02bfb1;
}

.hero {
  gap: 1rem;
  height: 85%;
}

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6edb6e;
  width: 25%;
}

.article {
  background-color: #fbb04c;
  width: 75%;
  gap: 1rem;
  padding: 1rem;
}

.article-container {
  height: 50%;
  align-items: flex-end;
}

.image-container {
  height: 50%;
  gap: 1rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  text-align: center;
  background-color: #fcd24a;
}
